/* 
* gg sans
* Designed by Colophon Foundry
*/

/* 
* Normal
* © Copyright © June 2023 Discord Inc.
*/
@font-face {
  font-family: "gg sans";
  font-style: normal;
  font-weight: 400;
  src: url("https://unethicalcdn.com/ggcdn/gg-sans-normal-400.woff2") format("woff2");
}

/* 
* Normal Italic
* © Copyright © October 2023 Discord Inc.
*/
@font-face {
  font-family: "gg sans";
  font-style: italic;
  font-weight: 400;
  src: url("https://unethicalcdn.com/ggcdn/gg-sans-italic-400.woff2") format("woff2");
}

/* 
* Medium
* © Copyright © June 2023 Discord Inc.
*/
@font-face {
  font-family: "gg sans";
  font-style: normal;
  font-weight: 500;
  src: url("https://unethicalcdn.com/ggcdn/gg-sans-normal-500.woff2") format("woff2");
}

/* 
* Medium Italic
* © Copyright © October 2023 Discord Inc.
*/
@font-face {
  font-family: "gg sans";
  font-style: italic;
  font-weight: 500;
  src: url("https://unethicalcdn.com/ggcdn/gg-sans-italic-500.woff2") format("woff2");
}

/* 
* SemiBold 
* © Copyright © June 2023 Discord Inc.
*/
@font-face {
  font-family: "gg sans";
  font-style: normal;
  font-weight: 600;
  src: url("https://unethicalcdn.com/ggcdn/gg-sans-normal-600.woff2") format("woff2");
}

/* 
* SemiBold Italic
* © Copyright © October 2023 Discord Inc.
*/
@font-face {
  font-family: "gg sans";
  font-style: italic;
  font-weight: 600;
  src: url("https://unethicalcdn.com/ggcdn/gg-sans-italic-600.woff2") format("woff2");
}

/* 
* Bold 
* © Copyright © June 2023 Discord Inc.
*/
@font-face {
  font-family: "gg sans";
  font-style: normal;
  font-weight: 700;
  src: url("https://unethicalcdn.com/ggcdn/gg-sans-normal-700.woff2") format("woff2");
}

/* 
* Bold Italic
* © Copyright © October 2023 Discord Inc.
*/
@font-face {
  font-family: "gg sans";
  font-style: italic;
  font-weight: 700;
  src: url("https://unethicalcdn.com/ggcdn/gg-sans-italic-700.woff2") format("woff2");
}

/* 
* ExtraBold
* © Copyright © June 2023 Discord Inc.
*/
@font-face {
  font-family: "gg sans";
  font-style: normal;
  font-weight: 800;
  src: url("https://unethicalcdn.com/ggcdn/gg-sans-normal-800.woff2") format("woff2");
}

/* 
* ExtraBold Italic
* © Copyright © October 2023 Discord Inc.
*/
@font-face {
  font-family: "gg sans";
  font-style: italic;
  font-weight: 800;
  src: url("https://unethicalcdn.com/ggcdn/gg-sans-italic-800.woff2") format("woff2");
}

/* 
* Mono 
* © Copyright © October 2023 Discord Inc.
*/
@font-face {
  font-family: "gg mono";
  font-style: normal;
  font-weight: 400;
  src: url("https://unethicalcdn.com/ggcdn/gg-mono-normal-400.woff2") format("woff2");
}

/* 
* Mono Bold 
* © Copyright © October 2023 Discord Inc.
*/
@font-face {
  font-family: "gg mono";
  font-style: normal;
  font-weight: 700;
  src: url("https://unethicalcdn.com/ggcdn/gg-mono-normal-700.woff2") format("woff2");
}

* {
    font-family: "gg sans", sans-serif;
}

h1 { font-weight: 800; } /* ExtraBold */
h2 { font-weight: 700; } /* Bold */
h3 { font-weight: 600; } /* SemiBold */
h4 { font-weight: 500; } /* Medium */
p { font-weight: 400; }  /* Normal */

.mono {
    font-family: "gg mono", monospace;
}

.italic {
    font-style: italic;
}
